.vscode/**
.vscode-test/**
.github/**
.sonarcloud.properties
coverage/**
test-results/**
playwright-report/**
*.vsix
node_modules/**
scripts/**
src/**
sample/**
e2e/**
ui/**
out/e2e/**
out/__test_helpers__/**
out/__mocks__/**
node_modules/**/.github/**
node_modules/**/.vscode/**
node_modules/**/test/**
node_modules/**/tests/**
e2e-results/**
playwright.config.ts
.vscode-test.mjs
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
